.landing {
  background: url('/images/bg.jpg');
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.landing img {
  width: 128px;
  height: 128px;
  margin-bottom: 32px;
}

.landing a {
  border-bottom: 1px dashed #00695C;
  color: #00695C;
  margin: 0 8px;
  line-height: 2rem;
  border-radius: 2px;
  display: inline-block;
}

.landing a:hover {
  margin: 0;
  padding: 0 8px;
  text-decoration: none;
  color: #E0F2F1;
  border: none;
  background: #00695C;
}

.landing-box {
  background: #fff;
  padding: 32px 0;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
}
