.msg-col {
  padding: 0 16px;
}

.msg {
  margin: 16px 0;
}

.msg__username {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.msg__time {
  font-style: italic;
  padding: 0 28px;
}

.msg__avatar {
  line-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  background: green;
  color: #fff;
  border-radius: 100%;
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 8px;
}
