.user-list-wrapper {
  display: flex;
  background: #424242;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  z-index: 100;
  height: 100%;
}

.user-list-toggle {
  position: fixed;
  top: 24px;
  right: 0;
  left: auto;
  z-index: 99;
  background: #01695C;
  color: #fff;
  border-radius: 10px 0 0 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.user-list-wrapper.active {
  left: 0;
}

.user-list-wrapper.active + .user-list-toggle {
  border-radius: 0 10px 10px 0;
  left: 60%;
  right: auto;
  transition: all 230ms ease;
}

@media screen and (min-width: 769px) {
  .user-list-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .user-list-wrapper {
    position: fixed;
    left: -100%;
    width: 60%;
    top: 0;
    transition: left 230ms ease;
  }
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.user-list__item {

}

.user-list__logged div {
  flex: 1;
}

.user-list__user {
  color: #fff;
  text-decoration: none;
  line-height: 2rem;
  display: block;
  padding: 0 24px;
}

.user-list__user:hover {
  background: #00695C;
  color: #E0F2F1;
}

.user-list__user:hover,
.user-list__user:active,
.user-list__user:focus {
  text-decoration: none;
}

.user-list__header {
  color: #757575;
  display: block;
  padding: 36px 24px 24px 24px;
  font-variant: small-caps;
  text-transform: lowercase;
}

.user-list__logged {
  display: flex;
  color: #fff;
  padding: 36px 24px 24px 24px;
}

.user-list__logged .btn {
  background: none;
  border: 1px solid #ccc;
  color: #ccc;
}
